[submodule "apache2"]
	path = apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cron"]
	path = cron
	url = https://github.com/opscode-cookbooks/cron.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/opscode-cookbooks/jenkins.git
[submodule "mshanken-cookbooks-managewine"]
	path = mshanken-cookbooks-managewine
	url = git@github.com:mshanken/mshanken-cookbooks-managewine.git
