[submodule "apache2"]
	path = apache2
	url = https://github.com/opscode-cookbooks/apache2.git
[submodule "cron"]
	path = cron
	url = https://github.com/opscode-cookbooks/cron.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/opscode-cookbooks/jenkins.git
[submodule "mshanken-clients-managewine"]
	path = mshanken-clients-managewine
	url = git@github.com:mshanken/mshanken-clients-managewine.git
[submodule "users"]
	path = users
	url = https://github.com/opscode-cookbooks/users.git
[submodule "chef-solo-search"]
	path = chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
